.container-grid {
  display: grid;
  grid-template-columns: minmax(0, 3fr) minmax(0, 5fr) minmax(0, 4fr);
  gap: .3rem;
}



/* DRAGGABLE ZONE CSS */

.draggablezone-container{
  border: 1px solid rgb(198, 198, 198);
  border-radius: 5px;
}

.draggablezone-header{
  margin-bottom: .8rem;
}

.draggablezone-grid {
  margin: .4rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: .8rem;
}

.draggablezone-grid .items {
  width: 100%;
  height: fit-content;
  padding: .5rem;
  border: 1px solid rgb(165, 165, 165);
  cursor: grab;
  border-radius: 3px;
}

.sample-checkbox-container{
  border: .1px solid rgb(189, 189, 189);
  border-radius: 3px;
  font-size: 14px;
  padding: 2px 7px;
  background-color: #e9ecef;
}

.draggablezone-grid .item-info{
  font-size: .8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-info-icon{
  font-size: 1.4rem;
  margin-top: -3px;
}

.item-sample{
  margin: .3rem;
}

